<% var title = 'Drawings' %>
<% include header %>

<% drawings.forEach(drawing => { %>
    <p>
        <div><b><%= drawing.uuid %></b></div>
        <div style="word-break: break-all;"><%= JSON.stringify(drawing.json) %></div>
    </p>
<% }) %>

<% include footer %>