<% var title = 'Drawings' %>
<% include header %>

<% drawings.forEach(drawing => { %>
    <p>
        <div><b><%= drawing.uuid %></b></div>
        <div><%= drawing.json %></div>
    </p>
<% }) %>

<% include footer %>