<!DOCTYPE html>
<html>
  <head>
    <title>Inlight 2017 - <%= title %></title>
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
    <header>
        <div class="title">Inlight 2017 Server</div>
        <a href="/login" class="login">Login/Logout</a>
    </header>
    <div class="content">