body {
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.password-form {
    text-align: center;
}
.password-form input[type="password"] {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.28);
    background-color: #cfe0ff;
    font-size: 2em;
    width: 18em;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 12px 5px;
    background-color: #999bff;
}
.title {
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.login {
    color: #5254ff;
    font-weight: bold;
    align-self: center;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 5px;
    background-color: #999bff;
}

/* content */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* drawings */
.drawings .drawing-row {
    background-color: #ececec;
    padding: 10px 0px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.drawings .drawing-row.completed {
    border: 8px solid rgba(0, 0, 0, 0.7);
}
.drawings .drawing-row.new {
    background-color: #ececec;
}
.drawings .drawing-row.updated {
    background-color: #d9e8da;
}
.drawings .drawing-row.approved {
    background-color: #d2f9d4;
}
.drawings .drawing-row.ignored {
    background-color: #fff47c;
    opacity: 0.7;
}
.drawings .drawing-row.deleted {
    background-color: #f9d2d2;
    opacity: 0.7;
}
.drawings .drawing-row img {
    max-width: 100%;
    max-height: 250px;
    min-width: 50px;
    min-height: 50px;
    background-color: white;
}
.drawings button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    white-space: normal;
}
.drawings .primary-button {
    height: 195px;
}
.drawings .secondary-button {
    height: 60px;
    margin-bottom: 0px;
}